<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Blog's Developer</title>
    <meta name="description" content="Blog's Developer javascript, mongodb, mognosee, mysql, java, php, codeigniter, nodejs, meanjs, express " />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="description" content="A blog featuring tutorials about JavaScript, HTML5, AJAX, PHP, CSS, WordPress, and everything else development."/>
    <meta name="robots" content="noodp"/>
    <link rel="canonical" href="https://nguyentungs.github.io/" />
    


    <meta name="twitter:description" content="A blog featuring tutorials about JavaScript, HTML5, AJAX, PHP, CSS, WordPress, and everything else development." />
    <meta name="twitter:title" content="Nguyen Tungs Blog" />
    <meta name="twitter:site" content="@tungnsblog" />
    <meta name="twitter:image" content="https://github.com/NguyenTungs/NguyenTungs.github.io/blob/master/assets/img/rsz_banner.jpg?raw=true" />
    
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nguyentungs.github.io/" />
    <meta property="og:title" content="Nguyen Tungs Blog"/>
    <meta property="og:image" content="https://github.com/NguyenTungs/NguyenTungs.github.io/blob/master/assets/img/rsz_banner.jpg?raw=true"/>
    <meta property="og:site_name" content="Nguyen Tungs Blog"/>
    <meta property="fb:app_id" content="282596405466835"/>
    <meta property="og:description" content="A blog featuring tutorials about JavaScript, HTML5, AJAX, PHP, CSS, MONGODB, CODEIGNITER, and everything else development."/>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400" />

</head>

<body style="background-image:url('/assets/img/bg.jpg');">
   
 

    <header id="site-head" style="background-image: url(/assets/img/banner.JPG)">
        <div class="vertical">
            <div id="site-head-content" class="inner">
                <h1 class="blog-title">Nguyen Tungs</h1>
                <h2 class="blog-description">Your time is limited, so don’t waste it living someone else’s life.
</h2>
            </div>
        </div>
    </header>
    <br/>
    <main class="content" role="main">
        {{content}}
    </main>
    <footer class="site-footer">
        <div class="pagelist">
            <a href="/about">About</a> /
            <a href="/about">Policy</a> /
            <a href="/about">Terms</a>
        </div>
        <div class="inner">
            <section class="copyright">All content copyright <a href="/">tungns</a> &copy; 2016 &bull; All rights reserved.</section>
        </div>
    </footer>
    <script src="/shared/vendor/jquery/jquery.js?v=9a63577c28"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.fitvids.js?v=9a63577c28"></script>
    <script>
    $(document).ready(function() {
        $(".content").fitVids();
    });
    </script>
    <script>
    $(document).ready(function() {
        $(".content").fitVids();
    });
    </script>
    <script src="/assets/js/pace.js"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-84287928-1', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>
