<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Page Title Here -->
    <title>tungns - page soon</title>
    <!-- Page Description Here -->
    <meta name="description" content="A responsive coming soon template, un template HTML pour une page en cours de construction">
    <!-- Disable screen scaling-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!-- Initializer -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <!-- Web fonts and Web Icons -->
    <link rel="stylesheet" href="assets/css/pageloader.css">
    <link rel="stylesheet" href="assets/fonts/opensans/stylesheet.css">
    <link rel="stylesheet" href="assets/fonts/geosans/stylesheet.css">
    <link rel="stylesheet" href="assets/css/ionicons.min.css">
    <!-- Vendor CSS style -->
    <link rel="stylesheet" href="assets/css/foundation.min.css">
    <link rel="stylesheet" href="assets/js/vendor/jquery.fullPage.css">
    <link rel="stylesheet" href="assets/js/vegas/vegas.min.css">
    <!-- Main CSS files -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- alt layout -->
    <!--        <link rel="stylesheet" href="assets/css/style-color1.css">-->
    <!-- responsiveness -->
    <link rel="stylesheet" href="assets/css/main_responsive.css">
    <script src="assets/js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="alt-bg">
    <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Page Loader -->
    <div class="page-loader" id="page-loader">
        <div><i class="ion ion-load-c ion-spin"></i>
            <p>loading</p>
        </div>
    </div>
    <!-- BEGIN OF site header Menu -->
    <!-- Add "material" class for a material design style -->
    <header class="header-top">
        <a class="menu-icon clearfix">
            <div class="bars">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="txt">Menu</div>
        </a>
        <ul class="menu clearfix">
            <li>
                <a href="#about-us">About</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
            <li>
                <a href="/blog">Blogs</a>
            </li>
            <!-- Add other menu similar to "about" here : -->
            <!--<li>
                	<a href="#write-message">Write to us</a>
				</li>-->
        </ul>
    </header>
    <!-- END OF site header Menu-->
    <!-- BEGIN OF site navigation -->
    <nav class="page-nav">
        <div>
            <a href="#home"><i class="ion icon ion-ios-home"></i>
					<span class="title">Home page</span>
				</a>
            <a href="#register"><i class="ion icon ion-android-create"></i>
					<span class="title">Registration</span>
				</a>
            <a href="#about-us"><i class="ion icon ion-ios-information"></i>
					<span class="title">About us</span>
				</a>
            <a href="#contact"><i class="ion icon ion-ios-email"></i>
					<span class="title">Contact</span>
				</a>
        </div>
    </nav>
    <!-- END OF site navigation -->
    <!-- BEGIN OF site cover -->
    <div class="page-cover">
        <!-- Cover Background -->
        <div class="cover-bg pos-abs full-size bg-img" data-image-src="assets/img/bg-default1.jpg"></div>
        <div id="particles-js" class="cover-bg pos-abs full-size bg-color" data-bgcolor="rgba(39, 42, 56, 0.69)"></div>
    </div>
    <!--END OF site Cover -->
    <!-- Begin of timer pane -->
    <div class="pane-when " id="s-when">
        <div class="content clearfix">
            <!-- Header -->
            <header class="header">
                <p>albumso.com
                    <br>Will be available in</p>
            </header>
            <!-- Clock -->
            <div class="clock clock-countdown">
                <div class="site-config" data-date="11/02/2016 00:00:00" data-date-timezone="+0"></div>
                <div class="big">
                    <div class="digit">
                        <span class="days">00</span>
                        <span class="txt">days</span>
                    </div>
                </div>
                <div class="medium clearfix">
                    <span class="hours">00</span>
                    <span class="unit">:</span>
                    <span class="minutes">00</span>
                </div>
                <div class="small">
                    <span class="seconds">00</span><span class="thin"> sec</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End of timer pane -->
    <!-- BEGIN OF site main content content here -->
    <main class="page-main" id="mainpage">
        <!-- Begin of home page -->
        <div class="section page-home page page-cent" data-section="home">
            <h3 class="s-title">NguyenTung</h3>
            <div class="s-fixed-content">
                <!-- Begin of Social links -->
                <ul>
                    <li>
                        <h4>Social me</h4>
                        <div class="socialnet">
                            <a href="https://www.facebook.com/TungNguyenSon17"><i class="ion ion-social-facebook"></i>
									<span class="title">Facebook</span>
								</a>
                            <a href="https://www.instagram.com/nguyensontung198717/"><i class="ion ion-social-instagram"></i>
									<span class="title">Instagram</span>
								</a>
                            <a href="https://twitter.com/MainTung"><i class="ion ion-social-twitter"></i>
									<span class="title">Twitter</span>
								</a>
                        </div>
                    </li>
                </ul>
                <!-- End of Social links -->
            </div>

            <!-- Arrows scroll down/up -->
            <footer class="p-footer p-scrolldown">
                <a class="down btn">
                    <div>
                    </div>
                </a>
            </footer>
        </div>
        <!-- End of home page -->
        <!-- Begin of register page -->
        <div class="section page-register page page-cent" data-section="register">
            <h3 class="s-title">Register
                </h3>
            <section class="content">
                <header class="p-title">
                    <h4 class="subhead">Register to get our latest news</h4>
                </header>
                <div>
                    <form id="mail-subscription" class="form magic send_email_form" method="get" action="ajaxserver/serverfile.php">
                        <p class="invite">Please, write your email below to stay in touch with us :</p>
                        <div class="fields clearfix">
                            <div class="input">
                                <label for="reg-email">Email </label>
                                <input id="reg-email" class="email_f" name="email" type="email" required placeholder="your@email.address" data-validation-type="email">
                            </div>
                            <div class="buttons">
                                <button id="submit-email" class="button email_b" name="submit_email">Ok</button>
                            </div>
                        </div>
                        <p class="email-ok invisible"><strong>Thank you</strong> for your subscription. We will inform you.</p>
                    </form>
                </div>
            </section>
            <!-- Arrows scroll down/up -->
            <footer class="p-footer p-scrolldown">
                <a class="down btn">
                    <div>
                    </div>
                </a>
                <a class="up btn">
                    <div>
                    </div>
                </a>
            </footer>
        </div>
        <!-- End of register page -->
        <!-- Begin of about us page -->
        <div class="section page-about page page-cent" data-section="about-us">
            <h3 class="s-title">About Me
                </h3>
            <section class="content">
                <header class="p-title">
                    <img class="h-logo" src="assets/img/logo.png" alt="Logo">
                    </h2>
                    <h4 class="subhead">We <span class="bold">make</span> only <span class="bold">beautiful</span> things</h4>
                </header>
                <article class="text">
                    <p>The programer at Queenb.vn</p>
                </article>
            </section>
            <!-- Arrows scroll down/up -->
            <footer class="p-footer p-scrolldown">
                <a class="down btn">
                    <div>
                    </div>
                </a>
                <a class="up btn">
                    <div>
                    </div>
                </a>
            </footer>
        </div>
        <!-- End of about us page -->
        <!-- Begin of Contact page   -->
        <div class="section page-contact page page-cent" data-section="contact">
            <h3 class="s-title">Contact
                </h3>
            <div class="s-fixed-content">
                <ul>
                    <li>
                        <h4>Find me on</h4>
                        <!-- Begin of Social links -->
                        <div class="socialnet">
                            <a href="https://www.facebook.com/TungNguyenSon17"><i class="ion ion-social-facebook"></i>
									<span class="title">Facebook</span>
								</a>
                            <a href="https://www.instagram.com/nguyensontung198717/"><i class="ion ion-social-instagram"></i>
									<span class="title">Instagram</span>
								</a>
                            <a href="https://twitter.com/MainTung"><i class="ion ion-social-twitter"></i>
									<span class="title">Twitter</span>
								</a>
                        </div>
                        <!-- End of Social links -->
                    </li>
                </ul>
            </div>
            <!-- Begin of contact information -->
            <div class="slide" id="s-information">
                <section class="content">
                    <!-- Begin Of Page SubSection -->
                    <div class="contact">
                        <div class="row">
                            <div class="medium-12 columns left">
                                <ul>
                                    <li>
                                        <p>134/1/19 Cach Mang Thang 8
                                            <br>district 3, village 10, province Ho Chi Minh</p>
                                    </li>
                                    <li>
                                        <p><strong>Email : </strong><a href="mailto://tungns.stackoverflow@gmail.com">tungns.stackoverflow@gmail.com</a></p>
                                    </li>
                                    <li>
                                        <p><strong>Phone : </strong>+84 933 50 82 87</p>
                                    </li>
                                    <li>
                                        <p><strong>Website : </strong> <a href="http://www.highhay.com">www.tungns.top/a></p>
										</li>
										<li>
											<p>
							<img class="h-logo" src="assets/img/logo.png" alt="Logo">

											<p class="small">Vision by <strong><a href="http://www.tungns.top">tungns</a></strong>. All right reserved 2016</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End of page SubSection -->
                </section>
            </div>
            <!-- end of contact information -->
            <!-- Arrows scroll down/up -->
            <footer class="p-footer p-scrolldown">
                <a class="down btn">
                    <div>
                    </div>
                </a>
                <a class="up btn">
                    <div>
                    </div>
                </a>
            </footer>
        </div>
        <!-- End of Contact page  -->
        <!-- Begin of Message page -->
        <div class="section page page-message page-cent" data-section="write-message">
            <h3 class="s-title">Write to me
                </h3>
            <div>
                <section class="content">
                    <!-- Begin Of Page SubSction -->
                    <p>Need help or just want to send us a message?</p>
                    <div class="page-block c-right v-zoomIn">
                        <div class="wrapper">
                            <div>
                                <form class="message form send_message_form" method="get" action="ajaxserver/serverfile.php">
                                    <div class="fields clearfix">
                                        <div class="input">
                                            <label for="mes-name">Name </label>
                                            <input id="mes-name" name="name" type="text" placeholder="Your Name" required>
                                        </div>
                                        <div class="buttons">
                                            <button id="submit-message" class="button email_b" name="submit_message">Submit</button>
                                        </div>
                                    </div>
                                    <div class="fields clearfix">
                                        <div class="input">
                                            <label for="mes-email">Email </label>
                                            <input id="mes-email" type="email" placeholder="Email Address" name="email" required>
                                        </div>
                                    </div>
                                    <div class="fields clearfix no-border">
                                        <label for="mes-text">Message </label>
                                        <textarea id="mes-text" placeholder="Message ..." name="message" required></textarea>
                                        <div>
                                            <p class="message-ok invisible">Your message has been sent, thank you.</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End Of Page SubSction -->
                </section>
            </div>
            <!-- Arrows scroll down/up -->
            <footer class="p-footer p-scrolldown">
                <a class="up btn">
                    <div>
                    </div>
                </a>
            </footer>

        </div>
        <!-- End of Message page -->
    </main>
    <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
    <!-- All vendor scripts -->
    <script src="assets/js/vendor/all.js"></script>
    <script src="assets/js/particlejs/particles.min.js"></script>
    <script src="assets/js/particlejs/particles-init-snow.js"></script>
    <!-- Downcount JS -->
    <script src="assets/js/jquery.downCount.js"></script>
    <!-- Form script -->
    <script src="assets/js/form_script.js"></script>
    <!-- Javascript main files -->
    <script src="assets/js/main.js"></script>
    <!-- Google Analytics: Uncomment and change UA-XXXXX-X to be your site"s ID. -->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-84287928-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>

</html>
